<a href="https://colab.research.google.com/github/sivasamy1/data_analytic/blob/main/covid_miniproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/data_analytics/covid/us-counties-recent.csv")

In [3]:
print(df)

             date      county    state     fips  cases  deaths
0      2021-12-11     Autauga  Alabama   1001.0  10596   158.0
1      2021-12-11     Baldwin  Alabama   1003.0  38307   591.0
2      2021-12-11     Barbour  Alabama   1005.0   3716    81.0
3      2021-12-11        Bibb  Alabama   1007.0   4379    95.0
4      2021-12-11      Blount  Alabama   1009.0  10857   193.0
...           ...         ...      ...      ...    ...     ...
97515  2022-01-09  Sweetwater  Wyoming  56037.0   8506   110.0
97516  2022-01-09       Teton  Wyoming  56039.0   7025    14.0
97517  2022-01-09       Uinta  Wyoming  56041.0   4264    34.0
97518  2022-01-09    Washakie  Wyoming  56043.0   1914    39.0
97519  2022-01-09      Weston  Wyoming  56045.0   1263    16.0

[97520 rows x 6 columns]

In [18]:
df_deaths_in_2021 = df[(df['date'] >= '2021-01-01') & (df['date'] <= '2021-12-31')]
print(df_deaths_in_2021)
df_top_10_counties_2021 = df_deaths_in_2021.groupby('state')['deaths'].sum().nlargest(10)
print(df_top_10_counties_2021)

             date      county    state     fips  cases  deaths
0      2021-12-11     Autauga  Alabama   1001.0  10596   158.0
1      2021-12-11     Baldwin  Alabama   1003.0  38307   591.0
2      2021-12-11     Barbour  Alabama   1005.0   3716    81.0
3      2021-12-11        Bibb  Alabama   1007.0   4379    95.0
4      2021-12-11      Blount  Alabama   1009.0  10857   193.0
...           ...         ...      ...      ...    ...     ...
68251  2021-12-31  Sweetwater  Wyoming  56037.0   8320   107.0
68252  2021-12-31       Teton  Wyoming  56039.0   5950    14.0
68253  2021-12-31       Uinta  Wyoming  56041.0   4154    31.0
68254  2021-12-31    Washakie  Wyoming  56043.0   1879    37.0
68255  2021-12-31      Weston  Wyoming  56045.0   1254    14.0

[68256 rows x 6 columns]
state
California      1597587.0
Texas           1584918.0
Florida         1307456.0
New York        1223032.0
Pennsylvania     747623.0
Illinois         638457.0
Georgia          629055.0
New Jersey       604202.0
Ohio             592505.0
Michigan         587271.0
Name: deaths, dtype: float64

In [17]:
df_deaths_in_2022 = df[(df['date'] >= '2022-01-01') & (df['date'] <= '2022-12-31')]
print(df_deaths_in_2022)
df_top_10_counties_2022 = df_deaths_in_2022.groupby('state')['deaths'].sum().nlargest(10)
print(df_top_10_counties_2022)

             date      county    state     fips  cases  deaths
68256  2022-01-01     Autauga  Alabama   1001.0  11018   160.0
68257  2022-01-01     Baldwin  Alabama   1003.0  39911   593.0
68258  2022-01-01     Barbour  Alabama   1005.0   3860    81.0
68259  2022-01-01        Bibb  Alabama   1007.0   4533    95.0
68260  2022-01-01      Blount  Alabama   1009.0  11256   198.0
...           ...         ...      ...      ...    ...     ...
97515  2022-01-09  Sweetwater  Wyoming  56037.0   8506   110.0
97516  2022-01-09       Teton  Wyoming  56039.0   7025    14.0
97517  2022-01-09       Uinta  Wyoming  56041.0   4264    34.0
97518  2022-01-09    Washakie  Wyoming  56043.0   1914    39.0
97519  2022-01-09      Weston  Wyoming  56045.0   1263    16.0

[29264 rows x 6 columns]
state
California      692735.0
Texas           688023.0
Florida         563281.0
New York        535742.0
Pennsylvania    334502.0
Illinois        282490.0
Georgia         273385.0
Ohio            267579.0
Michigan        265590.0
New Jersey      263131.0
Name: deaths, dtype: float64

In [20]:

average_deaths_per_state_2021 = df_deaths_in_2021.groupby('state')['deaths'].mean().nlargest(10)
print(average_deaths_per_state_2021)

state
Puerto Rico             3285.904762
Arizona                 1573.000000
Massachusetts           1328.523810
California              1311.647783
New Jersey              1307.796537
District of Columbia    1205.904762
Connecticut             1006.190476
New York                1004.131363
Florida                  915.585434
Delaware                 562.714286
Name: deaths, dtype: float64