<a href="https://colab.research.google.com/github/sivasamy1/data_analytic/blob/main/CS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# import all necessary lib

import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [21]:
#list

lst_names = []
lst_cities = ["Banglore", "Chennai", "SFO", "beijing"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Banglore
Chennai
SFO
beijing
NYC
yes

In [22]:
#Iterate list values along with index

lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
  print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [23]:
#set

# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [24]:
#dictionary

# declare dictionary
dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})
print(dict_data)

{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [25]:
#len(df) function

# list having different pet types
lst_pet_types = ["cat", "dog", "horse"]
# returns number of elements in the list
c_pet_types = len(lst_pet_types)
# prints 3
print(f"# pet types: {c_pet_types}")
# Using len() for dictionary
dict_pets = {"name": "dog", "age": 2}
# returns number of keys in the dictionary
c_pets = len(dict_pets)
# prints 2
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
# returns number of keys in the dictionary
c_pets, c_humans = len(dict_pets), len(dict_p_h)
# prints 1
print(f"# pets: {c_pets} ; # humans: {c_humans}")
# get only keys from the dictionary
lst_keys = [*dict_p_h]
# get only values from the dictionary
lst_values = [*dict_p_h.values()]
# prints
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

In [49]:
#rename columns of dataframe
df = pd.DataFrame(dict_p_h)
print(df.columns)

# access each column individually
for col in df.columns:
    print(col)

# assign new names to df.columns
df.columns = ['Animals', 'Humans']
print(df.columns)
print(df)

Index(['pets', 'persons'], dtype='object')
pets
persons
Index(['Animals', 'Humans'], dtype='object')
                     Animals                          Humans
0  {'name': 'dog', 'age': 2}      {'name': 'ram', 'age': 12}
1  {'name': 'dog', 'age': 2}  {'name': 'kumaran', 'age': 11}

In [50]:
# delete a column
df = df.drop(columns=['Animals'])
print(df)

                           Humans
0      {'name': 'ram', 'age': 12}
1  {'name': 'kumaran', 'age': 11}

In [55]:
# strip() - removes a leading or trailing blank space
txt = "     Moscow      "
str_clean = txt.strip()
print(f"From weather reort, {str_clean} is too cold most of the times")

From weather reort, Moscow is too cold most of the times

In [57]:
#join()

lst_items = ['rambo', 'dog', 'chennai']
str = ','.join(lst_items)
print(str)
print(lst_items)

rambo,dog,chennai
['rambo', 'dog', 'chennai']