<a href="https://colab.research.google.com/github/sivasamy1/data_analytic/blob/main/CS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
# import all necessary lib

import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os
import csv

In [54]:
#list

lst_names = []
lst_cities = ["Banglore", "Chennai", "SFO", "beijing"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Banglore
Chennai
SFO
beijing
NYC
yes

In [55]:
#Iterate list values along with index

lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
  print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [56]:
#set

# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [57]:
#dictionary

# declare dictionary
dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})
print(dict_data)

{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [58]:
#len(df) function

# list having different pet types
lst_pet_types = ["cat", "dog", "horse"]
# returns number of elements in the list
c_pet_types = len(lst_pet_types)
# prints 3
print(f"# pet types: {c_pet_types}")
# Using len() for dictionary
dict_pets = {"name": "dog", "age": 2}
# returns number of keys in the dictionary
c_pets = len(dict_pets)
# prints 2
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
# returns number of keys in the dictionary
c_pets, c_humans = len(dict_pets), len(dict_p_h)
# prints 1
print(f"# pets: {c_pets} ; # humans: {c_humans}")
# get only keys from the dictionary
lst_keys = [*dict_p_h]
# get only values from the dictionary
lst_values = [*dict_p_h.values()]
# prints
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

In [59]:
#rename columns of dataframe
df = pd.DataFrame(dict_p_h)
print(df.columns)

# access each column individually
for col in df.columns:
    print(col)

# assign new names to df.columns
df.columns = ['Animals', 'Humans']
print(df.columns)
print(df)

Index(['pets', 'persons'], dtype='object')
pets
persons
Index(['Animals', 'Humans'], dtype='object')
                     Animals                          Humans
0  {'name': 'dog', 'age': 2}      {'name': 'ram', 'age': 12}
1  {'name': 'dog', 'age': 2}  {'name': 'kumaran', 'age': 11}

In [60]:
# delete a column
df = df.drop(columns=['Animals'])
print(df)

                           Humans
0      {'name': 'ram', 'age': 12}
1  {'name': 'kumaran', 'age': 11}

In [61]:
# strip() - removes a leading or trailing blank space
txt = "     Moscow      "
str_clean = txt.strip()
print(f"From weather reort, {str_clean} is too cold most of the times")

From weather reort, Moscow is too cold most of the times

In [62]:
#join()

lst_items = ['rambo', 'dog', 'chennai']
str = ','.join(lst_items)
print(str)
print(lst_items)

rambo,dog,chennai
['rambo', 'dog', 'chennai']

In [63]:


# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 28, 32, 27, 31, 29, 26, 33],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}

df = pd.DataFrame(data)
print(df.head(9))

      Name  Age          City
0    Alice   25      New York
1      Bob   30   Los Angeles
2  Charlie   35       Chicago
3    David   28       Houston
4    Emily   32       Phoenix
5    Frank   27  Philadelphia
6    Grace   31   San Antonio
7   Hannah   29     San Diego
8      Ivy   26        Dallas

In [64]:
print(df.shape)

(10, 3)

In [65]:
print(list(df))

['Name', 'Age', 'City']

In [66]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object

In [67]:
print(df.describe(include='all'))

         Name        Age      City
count      10  10.000000        10
unique     10        NaN        10
top     Alice        NaN  New York
freq        1        NaN         1
mean      NaN  29.600000       NaN
std       NaN   3.204164       NaN
min       NaN  25.000000       NaN
25%       NaN  27.250000       NaN
50%       NaN  29.500000       NaN
75%       NaN  31.750000       NaN
max       NaN  35.000000       NaN

In [68]:
from tabulate import tabulate
# custom function for pretty print
def pretty_print(title, df, n):
   print(f"\n{title}:")
   print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

In [69]:
pretty_print("Sample DataFrame", df, 9)

Sample DataFrame:
+----+---------+-------+--------------+
|    | Name    |   Age | City         |
|----+---------+-------+--------------|
|  0 | Alice   |    25 | New York     |
|  1 | Bob     |    30 | Los Angeles  |
|  2 | Charlie |    35 | Chicago      |
|  3 | David   |    28 | Houston      |
|  4 | Emily   |    32 | Phoenix      |
|  5 | Frank   |    27 | Philadelphia |
|  6 | Grace   |    31 | San Antonio  |
|  7 | Hannah  |    29 | San Diego    |
|  8 | Ivy     |    26 | Dallas       |
+----+---------+-------+--------------+

In [70]:
lst_age = df["Age"].unique()
# also works
lst_age = df.Age.unique()

print(lst_age)

[25 30 35 28 32 27 31 29 26 33]

In [71]:
df["Age"].value_counts

<bound method IndexOpsMixin.value_counts of 0    25
1    30
2    35
3    28
4    32
5    27
6    31
7    29
8    26
9    33
Name: Age, dtype: int64>

In [72]:
df.groupby("Age").count()

     Name  City
Age
25      1     1
26      1     1
27      1     1
28      1     1
29      1     1
30      1     1
31      1     1
32      1     1
33      1     1
35      1     1

In [73]:
df.groupby("Age").Name.nunique()

Age
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
35    1
Name: Name, dtype: int64

In [74]:
data = {'state':["CA","CA","TX","NC", "SC"],'deaths':[6,11,4,5,9]}
df = pd.DataFrame(data)
# how many unique death counts are under each of the state
df2 = df.groupby('state')['deaths'] \
        .nunique() \
        .to_frame('deaths') \
        .reset_index()
df2.head(10)

  state  deaths
0    CA       2
1    NC       1
2    SC       1
3    TX       1

In [75]:
# input file
file_name = '/content/openpowerlifting.csv'
# read csv file
df_in_power = pd.read_csv(file_name)
# men only
df_state_male = df_in_power.loc[df_in_power['Sex'] == "M"]\
                .groupby(['State'])\
                .size()\
                .to_frame('count')\
                .reset_index()
# sort by count
df_sorted = df_state_male\
                .sort_values(by=['count'], ascending=False)
print(df_in_power)
print(df_state_male)
print(df_sorted)

           Name Sex State  Age  WeightClassKg  BestSquatKg  BestBenchKg  \
0      John Doe   M    NY   30            105          150          100
1    Jane Smith   F    CA   25             65           80           70
2  Mike Johnson   M    TX   35             90          200          150
3   Alice Brown   F    FL   28             75           95           80
4     Chris Lee   M    CA   32            100          180          120
5    Sara White   F    NY   29             70           85           75

   BestDeadliftKg  TotalKg
0             200      450
1             120      270
2             250      600
3             140      315
4             220      520
5             130      290
  State  count
0    CA      1
1    NY      1
2    TX      1
  State  count
0    CA      1
1    NY      1
2    TX      1

In [76]:
# write in current folder
df.to_csv ('./out.csv', index = None, header=True)

In [85]:
# create data frame
df = pd.DataFrame({"date": ["2018-09-24"], "ret":[0.00013123989025119056]})
# write to csv
df.to_csv("out.csv", sep=',', escapechar='\\', quoting=csv.QUOTE_ALL, index=None)

In [86]:
df.to_csv('out.csv',sep=' ', quoting=csv.QUOTE_NONE)

In [87]:
num_person = 10
print(f"Type of num_person: {type(num_person)}")

Type of num_person: <class 'int'>

In [96]:
# let's say that df has col_1, col_2, and col_3, but you want only first two columns only
df = df_in_power

df_new = df[["Age", "WeightClassKg"]]
print(df_new)

   Age  WeightClassKg
0   30            105
1   25             65
2   35             90
3   28             75
4   32            100
5   29             70

In [99]:
max_age = df["Age"].max()
max_weight = df["WeightClassKg"].max()

print(f"Max age: {max_age}")
print(f"Max weight: {max_weight}")

Max age: 35
Max weight: 105

In [100]:
df_grouped = df.groupby("Age").size().to_frame("count").reset_index()

print(df_grouped)

   Age  count
0   25      1
1   28      1
2   29      1
3   30      1
4   32      1
5   35      1

In [1]:
import pandas as pd

# Example DataFrame
data = {
    "age_range": ["Young", "Young", "Middle", "Middle", "Middle", "Old"],
    "department": ["HR", "IT", "HR", "Finance", "IT", "Finance"],
    "class": ["A", "B", "A", "B", "C", "A"],
    "salary": [50000, 60000, 70000, 80000, 55000, 75000],
    "years_experience": [3, 5, 8, 10, 6, 12]
}

df = pd.DataFrame(data)

# Calculating mean salary by age_range
mean_salary_by_age = df.groupby("age_range")["salary"].mean()
print("Mean salary by age range:")
print(mean_salary_by_age)
print()

# Summing salaries by department
total_salary_by_dept = df.groupby("department")["salary"].sum()
print("Total salary by department:")
print(total_salary_by_dept)
print()

# Counting number of employees in each class
count_by_class = df.groupby("class").size()
print("Number of employees in each class:")
print(count_by_class)

Mean salary by age range:
age_range
Middle    68333.333333
Old       75000.000000
Young     55000.000000
Name: salary, dtype: float64

Total salary by department:
department
Finance    155000
HR         120000
IT         115000
Name: salary, dtype: int64

Number of employees in each class:
class
A    3
B    2
C    1
dtype: int64

In [4]:
data = {
    "state": ["CA", "CA", "NY", "NY", "TX", "TX"],
    "num_vacc": [100, 120, 80, 90, 110, 130]
}

df = pd.DataFrame(data)

# Group by "state" and calculate mean of "num_vacc", then reset index
df_new = df.groupby("state")["num_vacc"].mean().to_frame("count").reset_index()

print(df_new)

  state  count
0    CA  110.0
1    NY   85.0
2    TX  120.0

In [1]:
import pandas as pd

# Example DataFrame
data = {
    "source": ["Twitter", "Twitter", "Facebook", "Instagram", "Instagram", "Facebook"],
    "text": ["Hello", "World", "Post", "Photo", "Video", "Like"],
    "sent": [0.5, 0.7, 0.6, 0.8, 0.4, 0.9]
}

df = pd.DataFrame(data)

# Group by "source", aggregate "text" (count) and "sent" (mean), rename columns, and reset index
df = df.groupby('source') \
       .agg({'text':'size', 'sent':'mean'}) \
       .rename(columns={'text':'count','sent':'mean_sent'}) \
       .reset_index()

print(df)

      source  count  mean_sent
0   Facebook      2       0.75
1  Instagram      2       0.60
2    Twitter      2       0.60