<a href="https://colab.research.google.com/github/sivasamy1/data_analytic/blob/main/CS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import all necessary lib

import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os
import csv

In [2]:
#list

lst_names = []
lst_cities = ["Banglore", "Chennai", "SFO", "beijing"]
lst_cities.append("NYC")
lst_age = [10, 20]
lst_age.append(30)
for val in lst_cities:
  print(val)
if "SFO" in lst_cities:
  print("yes")
else:
  print("no")

Banglore
Chennai
SFO
beijing
NYC
yes

In [6]:
  #Iterate list values along with index

lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
    print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [10]:
#set

# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [8]:
|#dictionary

# declare dictionary
dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})
print(dict_data)

{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [11]:
#len(df) function

# list having different pet types
lst_pet_types = ["cat", "dog", "horse"]
# returns number of elements in the list
c_pet_types = len(lst_pet_types)
# prints 3
print(f"# pet types: {c_pet_types}")
# Using len() for dictionary
dict_pets = {"name": "dog", "age": 2}
# returns number of keys in the dictionary
c_pets = len(dict_pets)
# prints 2
print(f"# pets: {c_pets}")
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
dict_p_h = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
           "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]}
# returns number of keys in the dictionary
c_pets, c_humans = len(dict_pets), len(dict_p_h)
# prints 1
print(f"# pets: {c_pets} ; # humans: {c_humans}")
# get only keys from the dictionary
lst_keys = [*dict_p_h]
# get only values from the dictionary
lst_values = [*dict_p_h.values()]
# prints
print(f"# keys: {len(lst_keys)} | # values: {len(lst_values)}")
print(f"keys: {lst_keys} | values: {lst_values}")

# pet types: 3
# pets: 2
# pets: 1 ; # humans: 2
# keys: 2 | # values: 2
keys: ['pets', 'persons'] | values: [[{'name': 'dog', 'age': 2}, {'name': 'dog', 'age': 2}], [{'name': 'ram', 'age': 12}, {'name': 'kumaran', 'age': 11}]]

In [12]:
#rename columns of dataframe
df = pd.DataFrame(dict_p_h)
print(df.columns)

# access each column individually
for col in df.columns:
    print(col)

# assign new names to df.columns
df.columns = ['Animals', 'Humans']
print(df.columns)
print(df)

Index(['pets', 'persons'], dtype='object')
pets
persons
Index(['Animals', 'Humans'], dtype='object')
                     Animals                          Humans
0  {'name': 'dog', 'age': 2}      {'name': 'ram', 'age': 12}
1  {'name': 'dog', 'age': 2}  {'name': 'kumaran', 'age': 11}

In [13]:
# delete a column
df = df.drop(columns=['Animals'])
print(df)

                           Humans
0      {'name': 'ram', 'age': 12}
1  {'name': 'kumaran', 'age': 11}

In [14]:
# strip() - removes a leading or trailing blank space
txt = "     Moscow      "
str_clean = txt.strip()
print(f"From weather reort, {str_clean} is too cold most of the times")

From weather reort, Moscow is too cold most of the times

In [102]:
#join()

lst_items = ['rambo', 'dog', 'chennai']
st = ','.join(lst_items)
print(st)
print(lst_items)

rambo,dog,chennai
['rambo', 'dog', 'chennai']

In [16]:


# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emily', 'Frank', 'Grace', 'Hannah', 'Ivy', 'Jack'],
    'Age': [25, 30, 35, 28, 32, 27, 31, 29, 26, 33],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']
}

df = pd.DataFrame(data)
print(df.head(9))

      Name  Age          City
0    Alice   25      New York
1      Bob   30   Los Angeles
2  Charlie   35       Chicago
3    David   28       Houston
4    Emily   32       Phoenix
5    Frank   27  Philadelphia
6    Grace   31   San Antonio
7   Hannah   29     San Diego
8      Ivy   26        Dallas

In [17]:
print(df.shape)

(10, 3)

In [18]:
print(list(df))

['Name', 'Age', 'City']

In [19]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object

In [20]:
print(df.describe(include='all'))

         Name        Age      City
count      10  10.000000        10
unique     10        NaN        10
top     Alice        NaN  New York
freq        1        NaN         1
mean      NaN  29.600000       NaN
std       NaN   3.204164       NaN
min       NaN  25.000000       NaN
25%       NaN  27.250000       NaN
50%       NaN  29.500000       NaN
75%       NaN  31.750000       NaN
max       NaN  35.000000       NaN

In [21]:
from tabulate import tabulate
# custom function for pretty print
def pretty_print(title, df, n):
   print(f"\n{title}:")
   print(tabulate(df.head(n), headers="keys", tablefmt="psql"))

In [22]:
pretty_print("Sample DataFrame", df, 9)

Sample DataFrame:
+----+---------+-------+--------------+
|    | Name    |   Age | City         |
|----+---------+-------+--------------|
|  0 | Alice   |    25 | New York     |
|  1 | Bob     |    30 | Los Angeles  |
|  2 | Charlie |    35 | Chicago      |
|  3 | David   |    28 | Houston      |
|  4 | Emily   |    32 | Phoenix      |
|  5 | Frank   |    27 | Philadelphia |
|  6 | Grace   |    31 | San Antonio  |
|  7 | Hannah  |    29 | San Diego    |
|  8 | Ivy     |    26 | Dallas       |
+----+---------+-------+--------------+

In [23]:
lst_age = df["Age"].unique()
# also works
lst_age = df.Age.unique()

print(lst_age)

[25 30 35 28 32 27 31 29 26 33]

In [24]:
df["Age"].value_counts

<bound method IndexOpsMixin.value_counts of 0    25
1    30
2    35
3    28
4    32
5    27
6    31
7    29
8    26
9    33
Name: Age, dtype: int64>

In [25]:
df.groupby("Age").count()

     Name  City
Age
25      1     1
26      1     1
27      1     1
28      1     1
29      1     1
30      1     1
31      1     1
32      1     1
33      1     1
35      1     1

In [26]:
df.groupby("Age").Name.nunique()

Age
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
35    1
Name: Name, dtype: int64

In [27]:
data = {'state':["CA","CA","TX","NC", "SC"],'deaths':[6,11,4,5,9]}
df = pd.DataFrame(data)
# how many unique death counts are under each of the state
df2 = df.groupby('state')['deaths'] \
        .nunique() \
        .to_frame('deaths') \
        .reset_index()
df2.head(10)

  state  deaths
0    CA       2
1    NC       1
2    SC       1
3    TX       1

In [52]:
# input file
file_name = '/content/openpowerlifting.csv'
# read csv file
df_in_power = pd.read_csv(file_name)
# men only
df_state_male = df_in_power.loc[df_in_power['Sex'] == "M"]\
                .groupby(['State'])\
                .size()\
                .to_frame('count')\
                .reset_index()
# sort by count
df_sorted = df_state_male\
                .sort_values(by=['count'], ascending=False)
print(df_in_power)
print(df_state_male)
print(df_sorted)

           Name Sex State  Age  WeightClassKg  BestSquatKg  BestBenchKg  \
0      John Doe   M    NY   30            105          150          100
1    Jane Smith   F    CA   25             65           80           70
2  Mike Johnson   M    TX   35             90          200          150
3   Alice Brown   F    FL   28             75           95           80
4     Chris Lee   M    CA   32            100          180          120
5    Sara White   F    NY   29             70           85           75

   BestDeadliftKg  TotalKg
0             200      450
1             120      270
2             250      600
3             140      315
4             220      520
5             130      290
  State  count
0    CA      1
1    NY      1
2    TX      1
  State  count
0    CA      1
1    NY      1
2    TX      1

In [53]:
# write in current folder
df.to_csv ('./out.csv', index = None, header=True)

In [54]:
# create data frame
df = pd.DataFrame({"date": ["2018-09-24"], "ret":[0.00013123989025119056]})
# write to csv
df.to_csv("out.csv", sep=',', escapechar='\\', quoting=csv.QUOTE_ALL, index=None)

In [55]:
df.to_csv('out.csv',sep=' ', quoting=csv.QUOTE_NONE)

In [56]:
num_person = 10
print(f"Type of num_person: {type(num_person)}")

Type of num_person: <class 'int'>

In [57]:
# let's say that df has col_1, col_2, and col_3, but you want only first two columns only
df = df_in_power

df_new = df[["Age", "WeightClassKg"]]
print(df_new)

   Age  WeightClassKg
0   30            105
1   25             65
2   35             90
3   28             75
4   32            100
5   29             70

In [58]:
max_age = df["Age"].max()
max_weight = df["WeightClassKg"].max()

print(f"Max age: {max_age}")
print(f"Max weight: {max_weight}")

Max age: 35
Max weight: 105

In [59]:
df_grouped = df.groupby("Age").size().to_frame("count").reset_index()

print(df_grouped)

   Age  count
0   25      1
1   28      1
2   29      1
3   30      1
4   32      1
5   35      1

In [60]:
import pandas as pd

# Example DataFrame
data = {
    "age_range": ["Young", "Young", "Middle", "Middle", "Middle", "Old"],
    "department": ["HR", "IT", "HR", "Finance", "IT", "Finance"],
    "class": ["A", "B", "A", "B", "C", "A"],
    "salary": [50000, 60000, 70000, 80000, 55000, 75000],
    "years_experience": [3, 5, 8, 10, 6, 12]
}

df = pd.DataFrame(data)

# Calculating mean salary by age_range
mean_salary_by_age = df.groupby("age_range")["salary"].mean()
print("Mean salary by age range:")
print(mean_salary_by_age)
print()

# Summing salaries by department
total_salary_by_dept = df.groupby("department")["salary"].sum()
print("Total salary by department:")
print(total_salary_by_dept)
print()

# Counting number of employees in each class
count_by_class = df.groupby("class").size()
print("Number of employees in each class:")
print(count_by_class)

Mean salary by age range:
age_range
Middle    68333.333333
Old       75000.000000
Young     55000.000000
Name: salary, dtype: float64

Total salary by department:
department
Finance    155000
HR         120000
IT         115000
Name: salary, dtype: int64

Number of employees in each class:
class
A    3
B    2
C    1
dtype: int64

In [61]:
data = {
    "state": ["CA", "CA", "NY", "NY", "TX", "TX"],
    "num_vacc": [100, 120, 80, 90, 110, 130]
}

df = pd.DataFrame(data)

# Group by "state" and calculate mean of "num_vacc", then reset index
df_new = df.groupby("state")["num_vacc"].mean().to_frame("count").reset_index()

print(df_new)

  state  count
0    CA  110.0
1    NY   85.0
2    TX  120.0

In [62]:
import pandas as pd

# Example DataFrame
data = {
    "source": ["Twitter", "Twitter", "Facebook", "Instagram", "Instagram", "Facebook"],
    "text": ["Hello", "World", "Post", "Photo", "Video", "Like"],
    "sent": [0.5, 0.7, 0.6, 0.8, 0.4, 0.9]
}

df = pd.DataFrame(data)

# Group by "source", aggregate "text" (count) and "sent" (mean), rename columns, and reset index
df = df.groupby('source') \
       .agg({'text':'size', 'sent':'mean'}) \
       .rename(columns={'text':'count','sent':'mean_sent'}) \
       .reset_index()

print(df)

      source  count  mean_sent
0   Facebook      2       0.75
1  Instagram      2       0.60
2    Twitter      2       0.60

In [63]:
import pandas as pd

# Example DataFrame
data = {
    "source": ["Twitter", "Twitter", "Facebook", "Instagram", "Instagram", "Facebook"],
    "text": ["Hello", "World", "Post", "Photo", "Video", "Like"],
    "sent": [0.5, 0.7, 0.6, 0.8, 0.4, 0.9]
}

df = pd.DataFrame(data)

D = df.groupby('source')['sent'].agg(count='size', mean_sent='mean').reset_index()
print(D)

      source  count  mean_sent
0   Facebook      2       0.75
1  Instagram      2       0.60
2    Twitter      2       0.60

In [64]:
# this may also work
D1 = df[['source','sent']].groupby('source').agg(['count','mean']).reset_index()
print(D1)

      source  sent
             count  mean
0   Facebook     2  0.75
1  Instagram     2  0.60
2    Twitter     2  0.60

In [65]:
import pandas as pd
data = {
    "id1": ["A", "A", "A", "B", "B"],
    "id2": ["X", "X", "Y", "X", "Y"],
    "id3": ["I", "I", "II", "I", "I"],
    "col": [1, 2, 3, 4, 5]
}

df = pd.DataFrame(data)
df_agg = df.groupby(["id1", "id2", "id3"])\
        	.agg({k: ['min', 'max'] for k in ['col']})
df_agg.columns = df_agg.columns.map('_'.join)
df_agg = df_agg.reset_index()

print(df_agg)
print(df_agg.columns)

  id1 id2 id3  col_min  col_max
0   A   X   I        1        2
1   A   Y  II        3        3
2   B   X   I        4        4
3   B   Y   I        5        5
Index(['id1', 'id2', 'id3', 'col_min', 'col_max'], dtype='object')

In [66]:
import pandas as pd

# Example DataFrame
data = {
    'source': ['A', 'A', 'B', 'B', 'B'],
    'sent1': [10, 20, 30, 40, None],  # Including None for illustration
    'sent2': [1.5, 2.5, 3.5, 4.5, 5.5]
}
df = pd.DataFrame(data)

# Grouping and Aggregating
result = df.groupby('source').agg(count=('sent1', 'size'), means=('sent2', 'mean')).reset_index()

print(result)

  source  count  means
0      A      2    2.0
1      B      3    4.5

In [67]:
import pandas as pd

# Example DataFrame
data = {
    'A': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'B': ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
}

df = pd.DataFrame(data)

# Selecting first 10 rows
subset = df[:5]

print(subset)

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

In [68]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {'A': [1, 2, np.nan, 4],
        'B': ['foo', np.nan, 'bar', np.nan],
        'C': [np.nan, 'qux', np.nan, 'baz']}
df = pd.DataFrame(data)

# Dropping rows with any NaN values
df.dropna(inplace=True)

print(df)

Empty DataFrame
Columns: [A, B, C]
Index: []

In [69]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {'A': [1, 2, np.nan, 4],
        'B': ['foo', np.nan, 'bar', np.nan],
        'C': [np.nan, 'qux', np.nan, 'baz']}
df = pd.DataFrame(data)

# Dropping rows with any NaN values
df.dropna(subset=['A', 'B'], inplace=True)


print(df)

     A    B    C
0  1.0  foo  NaN

In [70]:

df_new = df.dropna(axis='columns')
print(df_new)

     A    B
0  1.0  foo

In [71]:
data = {'A': [1, 2, np.nan, 4],
        'B': ['foo', np.nan, np.nan, np.nan],
        'C': [np.nan, 'qux', np.nan, 'baz']}
df = pd.DataFrame(data)
df_new = df.dropna(how='all')
print(df_new)

     A    B    C
0  1.0  foo  NaN
1  2.0  NaN  qux
3  4.0  NaN  baz

In [72]:
import pandas as pd
import numpy as np

# Example DataFrame
data = {'col_1': [1, np.nan, 3, 4],
        'col_2': ['foo', 'bar', np.nan, 'baz'],
        'col_3': [np.nan, 'qux', 'quux', np.nan]}
df = pd.DataFrame(data)

# Approach 1: Create a new DataFrame df_new
df_new = df[df['col_1'].notnull()]

# Approach 2: Modify original DataFrame df using dropna()
df.dropna(subset=['col_1'], how='all', inplace=True)

print("Approach 1 - df_new:")
print(df_new)
print("\nApproach 2 - df (modified in place):")
print(df)

Approach 1 - df_new:
   col_1 col_2 col_3
0    1.0   foo   NaN
2    3.0   NaN  quux
3    4.0   baz   NaN

Approach 2 - df (modified in place):
   col_1 col_2 col_3
0    1.0   foo   NaN
2    3.0   NaN  quux
3    4.0   baz   NaN

In [73]:
import pandas as pd

data = {
    'col_name1': ['A', 'B', 'A', 'B', 'C'],
    'col_name2': [1, 2, 1, 2, 3],
    'col_name3': ['X', 'Y', 'X', 'Y', 'Z']
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

df = df.drop_duplicates(['col_name1', 'col_name2', 'col_name3'], keep='last')
print("\nDataFrame after dropping duplicates:")
print(df)

Original DataFrame:
  col_name1  col_name2 col_name3
0         A          1         X
1         B          2         Y
2         A          1         X
3         B          2         Y
4         C          3         Z

DataFrame after dropping duplicates:
  col_name1  col_name2 col_name3
2         A          1         X
3         B          2         Y
4         C          3         Z

In [74]:
import pandas as pd

# Example DataFrame
data = {
    'author_name': ['Alice', 'Bob', 'Charlie'],
    'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']
}

df = pd.DataFrame(data)

# Iterate through rows
for index, row in df.iterrows():
    curr_authorname = row['author_name']
    curr_email = row['email']

    # Do something with curr_authorname and curr_email
    print(f"Author: {curr_authorname}, Email: {curr_email}")

Author: Alice, Email: alice@example.com
Author: Bob, Email: bob@example.com
Author: Charlie, Email: charlie@example.com

In [75]:
# Example: Creating a new column 'full_name'
df['full_name'] = df['author_name'] + ' (' + df['email'] + ')'
print(df)

  author_name                email                      full_name
0       Alice    alice@example.com      Alice (alice@example.com)
1         Bob      bob@example.com          Bob (bob@example.com)
2     Charlie  charlie@example.com  Charlie (charlie@example.com)

In [76]:
import pandas as pd

# Sample data
data = {
    'states': ['California', 'Texas', 'New York', 'Florida'],
    'count_column': [100, 150, 120, 80]
}

# Creating DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# print  states as keys and count_column as values
dict_stats_count = dict(zip(df['states'], df['count_column']))
print(dict_stats_count)

       states  count_column
0  California           100
1       Texas           150
2    New York           120
3     Florida            80
{'California': 100, 'Texas': 150, 'New York': 120, 'Florida': 80}

In [77]:
lst_pets = [['dog', 1], ['cat', 2], ['fish', 3]]
df = pd.DataFrame(lst_pets, columns=['animal', 'amount'])

print(df)

  animal  amount
0    dog       1
1    cat       2
2   fish       3

In [78]:
# Rename columns of a dataframe

df.columns = ["new_col1", "new_col2"]

print(df)

  new_col1  new_col2
0      dog         1
1      cat         2
2     fish         3

In [79]:
# Sample DataFrame
df = pd.DataFrame({
    '$a': [1, 2, 3],
    '$b': [4, 5, 6],
    '$c': [7, 8, 9],
    '$d': [10, 11, 12],
    '$e': [13, 14, 15]
})
print(df)

print("\nRenamed dataframe")
old_names = ['$a', '$b', '$c', '$d', '$e']
new_names = ['a', 'b', 'c', 'd', 'e']
df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

print(df)

   $a  $b  $c  $d  $e
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

Renamed dataframe
   a  b  c   d   e
0  1  4  7  10  13
1  2  5  8  11  14
2  3  6  9  12  15

In [80]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'num_hours': [1, 2, 3, 4, 5]  # Example data for 'num_hours' column
})

# Define the custom function to calculate minutes from hours
def to_minutes(row):
    return row["num_hours"] * 60

# Apply the custom function to create a new column 'newcolumn'
df['newcolumn'] = df.apply(to_minutes, axis=1)

# Print the updated DataFrame
print(df)

   num_hours  newcolumn
0          1         60
1          2        120
2          3        180
3          4        240
4          5        300

In [81]:
age = 10
name = "cat"

if age == 10 and name == "dog":  # Use '==' for comparison, not '='
    print("10")
elif age == 1 or age == 5:  # Use '==' for comparison, not '='
    print("either 1 or 5")
else:
    print("else")

else

In [82]:
import pandas as pd

# Sample DataFrame
data = {
    'age': [18, 20, 25, 18, 22],
    'pet_type': ['dog', 'cat', 'fish', 'dog', 'bird']
}

df = pd.DataFrame(data)

# Filter for exact ages 18 or 20
df_18_20 = df[df["age"].isin([18, 20])]
print("DataFrame filtered for ages 18 or 20:")
print(df_18_20)

# Filter for pet types 'dog' or 'cat'
df_dog_cat = df[df["pet_type"].isin(["dog", "fish"])]
print("\nDataFrame filtered for pet types 'dog' or 'fish':")
print(df_dog_cat)

DataFrame filtered for ages 18 or 20:
   age pet_type
0   18      dog
1   20      cat
3   18      dog

DataFrame filtered for pet types 'dog' or 'fish':
   age pet_type
0   18      dog
2   25     fish
3   18      dog

In [83]:
str_message = 'Life will be truly wonderful on a wonderful planet.'
# returns index 19 (find the first occurrence starting from left side)
print(str_message.find('wonderful'))
# returns index 34 (find the first occurrence starting from right side)
print(str_message.rfind('wonderful'))
# returns index 19
print(str_message.find('wonder'))
# find index of "wonder" after index 20; returns index 34
print(str_message.find('wonder', 20))

19
34
19
34

In [84]:
import random
# generates a random number between 0 and 1
random_num = random.random()
print(random_num)

0.2136481661495434

In [85]:
from random import randrange
# approach 1: randomly generate a number between 0 and 10
print(randrange(10))
print(randrange(0, 10))
# approach 2:  randomly generate a number between 0 and 10
import random
# randomly generate a number between 0 and 10 (includes 10)
print(random.randint(0, 10))

3
7
9

In [86]:
# Example variables (replace with your actual variables)
name = "John Doe"
email = "johndoe@example.com"
affiliation = "Example University"
coauthors_names = "Jane Smith, Michael Johnson"
research = "Machine Learning"

# Construct the line using an f-string
curr_line = f"{name},{email},{affiliation},{coauthors_names},{research}"

print(curr_line)

John Doe,johndoe@example.com,Example University,Jane Smith, Michael Johnson,Machine Learning

In [87]:
import pandas as pd

# Example DataFrame (replace with your actual DataFrame)
data = {
    'Name': ['John', 'Jane', 'Doe', 'Smith'],
    'Age': [25, 30, 35, 40],
    'Sex': ['M', 'F', 'M', 'M']
}

df = pd.DataFrame(data)

# Filter rows where 'Sex' column is 'M'
filtered_df = df[df["Sex"] == "M"]

# Print the filtered DataFrame
print(filtered_df)

    Name  Age Sex
0   John   25   M
2    Doe   35   M
3  Smith   40   M

In [88]:

# Example DataFrame (replace with your actual DataFrame)
data = {
    'Name': ['John', 'Jane', 'Doe', 'Smith'],
    'Age': [25, 30, 35, 40],
    'Team': ['Atlanta Hawks', 'Boston Celtics', 'Atlanta Hawks', 'Miami Heat']
}

df = pd.DataFrame(data)

# Boolean series for filtering
filter = df["Team"] == "Atlanta Hawks"

# Filtered DataFrame using df.where()
filtered_df = df.where(filter)

# Print the filtered DataFrame
print(filtered_df)

   Name   Age           Team
0  John  25.0  Atlanta Hawks
1   NaN   NaN            NaN
2   Doe  35.0  Atlanta Hawks
3   NaN   NaN            NaN

In [89]:
# Example DataFrame (replace with your actual DataFrame)
import pandas as pd

data = {
    'col1': [0, 1, 2, 1, 3],
    'col2': ['A', 'B', 'C', 'D', 'E']
}

df = pd.DataFrame(data)

# Filter DataFrame where 'col1' is exactly 1
filtered_df = df[df['col1'] == 1]

# Print the filtered DataFrame
print(filtered_df)

   col1 col2
1     1    B
3     1    D

In [90]:
import traceback
# path of file
path_in_pet = "dummy.json"
try:
   f = open(path_in_pet, 'r')
except:
   traceback.print_exc()

Traceback (most recent call last):
  File "<ipython-input-90-9f6f2de070d0>", line 5, in <cell line: 4>
    f = open(path_in_pet, 'r')
FileNotFoundError: [Errno 2] No such file or directory: 'dummy.json'