<a href="https://colab.research.google.com/github/sivasamy1/data_analytic/blob/main/CS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os

# directory name that may exist in current directory
directory = "sample_data"

# file name that may exist in current directory
file_name = "anscombe.json"

# returns True if dir exists
print("is dir? " + str(os.path.isdir(directory)))

# returns True if file_name exists
print("is file? " + str(os.path.isfile(file_name)))

# returns True (if dir is either file name or directory name that exists)
print("does it exist? " + str(os.path.exists(directory)))

if os.path.isfile(file_name):

   # returns the size of a file without opening it.
   print("file size: " + str(os.path.getsize(file_name)))
else:
   print("not a file to calculate size")

print("GET THREE DIFFERENT TYPE OF PATHS")

# declare file path
path_file = "/content/sample_data"

# return basename of path (outputs "data.txt")
print(os.path.basename(path_file))

# return directory name of a path
# output -> "/Users/lenin/Downloads"
print(os.path.dirname(path_file))

# return absolute path of a file
# output -> "/Users/lenin/Downloads/data.txt"
print(os.path.abspath(path_file))

is dir? True
is file? False
does it exist? True
not a file to calculate size
GET THREE DIFFERENT TYPE OF PATHS
sample_data
/content
/content/sample_data

In [2]:
lst_files = os.listdir('/content/sample_data')
print(lst_files)

['README.md', 'anscombe.json', 'mnist_test.csv', 'california_housing_train.csv', 'mnist_train_small.csv', 'california_housing_test.csv']

In [3]:
# run terminal command "ls -ltr"
str_list_files = os.popen("ls -ltr").read() # This will run the command and return any output
print(str_list_files)
# prints "str"
print(type(str_list_files))

total 4
drwxr-xr-x 1 root root 4096 Jul 11 13:22 sample_data

<class 'str'>

In [4]:
"""JavaScript Object Notation (JSON)
Standard text-based format for representing structured data based on JavaScript object syntax. It is interchangeable between programming languages as it is just a representation of Example JSON file content"""

# Dict to JSON example one
import json
# dictionary data to convert as a JSON object
dict_pets = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
# prints "dict"
print(type(dict_pets))
# save as JSON object
js_data = json.dumps(dict_pets)
# prints "dict"
print(type(dict_pets))
# prints with '' for key-value (wrong json)
print(dict_pets)
# prints with "" for key-value (correct json)
print(js_data)

<class 'dict'>
<class 'dict'>
{1: 'dog', 2: 'cat', 3: 'horse', 4: 'elephant', 5: 'tiger'}
{"1": "dog", "2": "cat", "3": "horse", "4": "elephant", "5": "tiger"}

In [5]:
# Dict to JSON example two
import json

dict_data = {}
# insert a empty list into the dictionary
dict_data['pet'] = []
# append/add a list of dict to the list
dict_data['pet'].append({
   'name': 'Dog',
   'website': 'dog.com',
   'from': 'San Francisco'
})
dict_data['pet'].append({
   'name': 'Cat',
   'website': 'hellokitty.com',
   'from': 'Seattle'
})

# variable "dict_data" declared on top of this cheat sheet
# prints "dict"
with open('data.json', 'w') as outfile:
   # write "dict_data" object content to output file as JSON
   json.dump(dict_data, outfile)

In [6]:
import os
import json
# json file name with/without path
path_in_pet = "data.json"
# check if file exists
if os.path.exists(path_in_pet):
   # open in read mode
   with open(path_in_pet, 'r') as f:
       # read data
       dict_data = json.load(f)
       # prints dict
       print(type(dict_data))
       # print content
       print(dict_data)

<class 'dict'>
{'pet': [{'name': 'Dog', 'website': 'dog.com', 'from': 'San Francisco'}, {'name': 'Cat', 'website': 'hellokitty.com', 'from': 'Seattle'}]}

In [7]:
import pandas as pd

# Assuming df is your pandas DataFrame
df = pd.DataFrame({'col1': [1.1, 2.2, 3.3]})

# Convert 'col1' to int32
df = df.astype({'col1': 'int32'})

# Print the data types after conversion
print(df.dtypes)

col1    int32
dtype: object

In [12]:
# int to string
age = 20

# int to float
salary = 10
f_salary = float(salary)
# float to int
salary = 10.11
# convert to integer
i_salary = int(salary)

print("age is " + str(age))
print("salary is " + str(salary))
print("f_salary is " + str(f_salary))
print("i_salary is " + str(i_salary))

age is 20
salary is 10.11
f_salary is 10.0
i_salary is 10

In [13]:
from dateutil import parser
from datetime import datetime
# approach 1
dt = parser.parse("Jun 1 2021  1:11PM")
print(dt)
# approach 2
datetime_object = datetime.strptime('Jun 1 2021  1:11PM', '%b %d %Y %I:%M%p')
print(datetime_object)

2021-06-01 13:11:00
2021-06-01 13:11:00

In [14]:
# approach 1
amount = 20.123456789
f_amount = float("{:.2f}".format(amount))
print(f_amount)
# approach 2
amount = 20.123456789
f_amount =  round(amount, 2)
print(f_amount)

20.12
20.12

In [17]:
from datetime import datetime
# right now time
_now = datetime.now()
print(_now)
# format date time
_parsed = datetime.strptime(str(_now), "%Y-%m-%d %H:%M:%S.%f")
print(_now)  # prints same date time as above print
dt = datetime.strptime("21/11/06 16:30", "%d/%m/%y %H:%M")
print(dt)  # 2006-11-21 16:30:00
# get only the value of the year. assigns _year = 2006
_year = dt.year
# get only the value of the month. assigns _month = 11
_month = dt.month

print(_year)
print(_month)

2024-07-12 18:34:58.070026
2024-07-12 18:34:58.070026
2006-11-21 16:30:00
2006
11

In [18]:
def to_lowercase(in_str):
   return str(in_str).lower()
# text to be converted
text = "How are you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

how are you?

In [20]:
text = "This is first line \nThis is second line"
print(text)
# replace new line with blank space
text_clean = text.replace("\n", "")
print(text_clean)

This is first line
This is second line
This is first line This is second line

In [21]:
import re
in_str = "Hi, Where are you from?"
str_clean = re.sub(r'\W+', ' ', in_str)
# prints -> Hi Where are you from
print(str_clean)

Hi Where are you from

In [22]:
# dictionary that helps to normalise
dict_norm = {"puppyhood": "dog",
         	"puppyish": "dog",
         	"puppylike": "dog"
        	}
# dictionary that needs transformation in its value
dict_species = {"caesar": "puppyhood", "ryan": "dog", "leela": "cat"}
# create new dictionary to hold the normalised output
dict_species_norm = {}
# iterate items in dict
for key, value in dict_species.items():
	# if value exists in key of dict_norm
	if value in dict_norm.keys():
    	   dict_species_norm[key] = dict_norm[value]
	else:
    	   dict_species_norm[key] = value
# prints -> {"caesar": "dog", "ryan": "dog", "leela": "cat"}
print(dict_species_norm)

{'caesar': 'dog', 'ryan': 'dog', 'leela': 'cat'}

In [23]:
import pandas as pd

# Sample DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [20, 30, 25, 40]}
df = pd.DataFrame(data)

# Calculate maximum age in the dataframe
max_age = df["age"].max()

# Normalize age and create a new column
df["age_normalized"] = df["age"] / max_age

# Print the original and normalized DataFrame
print("Original DataFrame:")
print(df)

# Accessing individual values
print("\nAccessing individual normalized values:")
for index, row in df.iterrows():
    print(f"Name: {row['name']}, Normalized Age: {row['age_normalized']}")

Original DataFrame:
      name  age  age_normalized
0    Alice   20           0.500
1      Bob   30           0.750
2  Charlie   25           0.625
3    David   40           1.000

Accessing individual normalized values:
Name: Alice, Normalized Age: 0.5
Name: Bob, Normalized Age: 0.75
Name: Charlie, Normalized Age: 0.625
Name: David, Normalized Age: 1.0

In [25]:
import pandas as pd
from tabulate import tabulate

# Function to pretty print DataFrame
def pretty_print(title, df, max_rows=None):
    print(f"\n{title}\n")
    if max_rows:
        print(tabulate(df.head(max_rows), headers='keys', tablefmt='psql'))
    else:
        print(tabulate(df, headers='keys', tablefmt='psql'))

# First DataFrame (df_1)
df_1 = pd.DataFrame({
    'id': ['A01', 'A02', 'A03', 'A04'],
    'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
})

# Print df_1
pretty_print("df_1:", df_1, 10)

# Second DataFrame (df_2)
df_2 = pd.DataFrame({
    'id': ['A01', 'A06', 'A02', 'A07'],
    'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
    'Age': ['12', '13', '14', '12']
})

# Print df_2
pretty_print("df_2:", df_2, 10)

# Outer join => outputs all rows from both dataframes
df_outer = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("Merged Outer Join:", df_outer, 10)

# Inner join (equi join) => outputs common intersect
df_inner = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("Merged Inner Join:", df_inner, 10)

# Merge with different column names
df_new = pd.merge(df_1, df_2, left_on='id', right_on='id', how='inner')
pretty_print("Merged Inner Join (Different Column Names):", df_new, 10)

df_1:

+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+

df_2:

+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+

Merged Outer Join:

+----+------+---------+-----------+-------+
|    | id   | Name    | City      |   Age |
|----+------+---------+-----------+-------|
|  0 | A01  | Dog     | SFO       |    12 |
|  1 | A02  | Cat     | NYC       |    14 |
|  2 | A03  | Eagle   | nan       |   nan |
|  3 | A04  | Peacock | nan       |   nan |
|  4 | A06  | nan     | Chennai   |    13 |
|  5 | A07  | nan     | Bangalore |    12 |
+----+------+---------+-----------+-------+

Merged Inner Join:

+----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+

Merged Inner Join (Different Column Names):

+----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+

In [26]:
import pandas as pd
from tabulate import tabulate

# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                   'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
                    })
pretty_print("df_1:", df_1, 10)

# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)

# LEFT JOIN => takes all the values from df1, if it exists on the df2 puts it values, otherwise nan
df_new = df_1.merge(df_2, left_on=['id'], right_on = ['id'], how='left')
pretty_print("left join:", df_new, 10)

# find rows in df2 which are not in df1
df_na = df_new[df_new["City"].isna()]
pretty_print("rows in df2 which are not in df1:", df_na, 10)

df_1:

+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+

df_2:

+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+

left join:

+----+------+---------+--------+-------+
|    | id   | Name    | City   |   Age |
|----+------+---------+--------+-------|
|  0 | A01  | Dog     | SFO    |    12 |
|  1 | A02  | Cat     | NYC    |    14 |
|  2 | A03  | Eagle   | nan    |   nan |
|  3 | A04  | Peacock | nan    |   nan |
+----+------+---------+--------+-------+

rows in df2 which are not in df1:

+----+------+---------+--------+-------+
|    | id   | Name    |   City |   Age |
|----+------+---------+--------+-------|
|  2 | A03  | Eagle   |    nan |   nan |
|  3 | A04  | Peacock |    nan |   nan |
+----+------+---------+--------+-------+

In [33]:
import os
import glob

os.chdir( '/content' )
# find list of files with .csv extension
result = glob.glob( '*/**.csv' )
print( result )

['sample_data/mnist_test.csv', 'sample_data/california_housing_train.csv', 'sample_data/mnist_train_small.csv', 'sample_data/california_housing_test.csv']

In [36]:
os.chdir( '/content/sample_data' )
os.rename("mnist_test.csv", "Mnist_Test.csv")